<div class="columns is-multiline">
  <div class="column is-12">
    <h1 class="title is-3 has-text-centered">
      Welcome Nuri Placka
    </h1>
  </div>
  <div class="column is-4">
    My Projects 0
  </div>
  <div class="column is-4">
    My Teams 0
  </div>
  <div class="column is-4">
    Activity
  </div>
</div>  