<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to "Project app", root_path, class: "navbar-item is-size-5" %>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
        <%= link_to "Item 2", "#", class: "navbar-item"  %>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
         Dropdown
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            a
          </a>
          <a class="navbar-item">
            b
          </a>
          <a class="navbar-item">
            c
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            d
          </a>
        </div>
      </div>


    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">

        </div>
      </div>
    </div>
  </div>
</nav>
